.order {
    @extend %container;
    padding-bottom: $padding-bottom-section;
    & > p {
        @extend %description;
    }
    .button {
        margin-top: 10px;
        display: flex;
        justify-content: center;
    }
}
